body{
	background-color:#222831;
	font-family: 'Roboto', sans-serif;
	
	
	
	
	
}
h2{
	color:#F05454;
	text-shadow:2px 2px 8px
}
p{
	color:#DDDDDD;
	text-shadow:2px 2px 8px;
	
	
	
	
}
h1{
	text-align:center;
	color:#F05454;
	text-shadow:2px 2px 8px;
	
	
}