*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-image: linear-gradient(#fc00ff, #00dbde);
    font-family: sans-serif;
    color: rgb(215, 124, 29);
}
.gol{
  text-align:  center;
  background-image: linear-gradient(#6a3093, #a044ff);
  width:400px;
  height:500px;
  display: block;
  position:absolute;
  right: 10px;
}
h1{
  text-align: center;
}
.hdd{
  margin-left: auto;
  margin-left: auto;
  display: block
}
.ddh{
  margin-left: auto;
  margin-left: auto;
  display: block
}
.olg{
  text-align: center;
  width:400px;
  height:500px;
  display: block;
  background-image: linear-gradient(#6a3093, #1F1C18);
}


#hd{
  background-image: linear-gradient(#00C9FF, #92FE9D);

}
footer{
    background-image: linear-gradient(#004FF9, #FFF94C);
    color: rgb(241, 14, 103);
    text-align: center;
}
