*{
  border:0px;
  margin:0px;
  box-sizing:0px;
}
img{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
input[type=search] {

  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 108px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  transition: 0.4s ease-in-out;
  display: block;
  margin-left:auto;
  margin-right: auto;
  top: 50%;
  line-height: 20px;
}
input[type=search]:focus {
  background-color: lightblue;
}

.logo p {
    margin:0;
    padding:0;
    margin-left: 10px;
    font-size: 15px;
    display: inline-block;
    line-height: 40px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

img{
  width: 18%;
}
